.theme {
  position: fixed;
  top: 10px;
  right: 0;
  z-index: 100;
}
#pageMessages {
  position: fixed;
  top: 70px;
  right: 15px;
  width: 30%;
  z-index: 100;
}
#carousel-slideshow {
  margin: 0 3%;
}
.icon-color-green {
  color: #4CAF50 !important;
  font-size: 25px;
  cursor: pointer;
}
.icon-color-red {
  color: #f44336 !important;
  font-size: 25px;
  cursor: pointer;
}
.icon-color-blue {
  color: #00AFF0 !important;
  font-size: 25px;
  cursor: pointer;
}

body{
  background: url("../img/tarkov1.jpg") no-repeat fixed center center / cover;
}

.hero {
  background: url("../img/tarkov1.jpg") no-repeat fixed center center / cover;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.hero .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  z-index: 1;
}
.hero .hero-content {
  position: relative;
  z-index: 2;
}
.header-top {
  width: 100vw;
  height: 100px;
  background: rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  z-index: 10;
  transition: all 0.3s;
  padding: 20px 0px;
}
.header-top #word-mark {
  opacity: 0;
}
.header-top #brand,
.header-top #menu,
.header-top ul {
  display: flex;
  align-items: center;
}
.header-top #logo {
  width: 55px;
  height: 55px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.header-top #brand {
  padding-left: 40px;
}
.header-top #word-mark {
  background: #fff;
  border-radius: 90px;
  margin-left: 20px;
  opacity: 1;
  transition: all 0.3s;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  color: black;
}
.header-top #menu {
  justify-content: flex-end;
  padding-right: 40px;
}
.header-top #menu li {
  margin-left: 20px;
  display: inline;
}
.header-top #menu li a,
.header-top #menu li button {
  background: #fff;
  display: block;
  border-radius: 90px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 15px;
  border: none;
}
.header-top #menu li a:hover,
.header-top #menu li button:hover {
  background: #161616;
  color: white;
}

.main{
  margin:80px auto 20px;
  height: fit-content;
  width: 72%;
  border-radius: 10px;
  background-color: #161616;
  padding: 20px 25px 50px;
}
.odstavec {
  margin: 0 50px;

}
#imagebtn {
  color: #ffffff;
  padding: 150px;
  border: dashed #6e6d6d;
  border-radius: 40px;
  margin-bottom: 20px;
}
#submit {
  color:black;
}
.custom-file-upload {
  color: white;
  padding: 150px;
  border: dashed #6e6d6d;
  border-radius: 40px;
  margin-bottom: 20px;

}
.custom-file-upload:hover {
  color: #acacac;
}

input[type="file"] {
  display: none;
}

label {
  padding: 10px 0 2px;
}

label:hover{
  color: #acacac;
}

#description {
  width: 80%;
  min-height: 200px;

}
input[type="number"] {
  width: 15%;
  min-width: 200px;
}
input[type="text"] {
  width: 30%;
  min-width: 200px;
}


/*# sourceMappingURL=main.css.map */